In [1]:
import pandas as pd
import numpy as np

In [2]:
#dir_tbl = 'make_tables/'
dir_tbl = 'data_tables/'

In [3]:
meta_file = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/REACH_sample_info.tsv'
df_meta = pd.read_table(meta_file, sep='\t', header=0)

rename_samples_dict = {'REACH000236': 'REACH000236_PB', 
                       'REACH000436': 'REACH000436_PB', 
                       'REACH000530': 'REACH000530_PB', 
                       'REACH000531': 'REACH000531_ONT', 
                       'REACH000532': 'REACH000532_ONT'}
df_meta['Sample_ID'] = df_meta.apply(lambda row: rename_samples_dict[row['Sample_ID']] 
                                     if row['Sample_ID'] in rename_samples_dict else row['Sample_ID'], axis=1)
display(df_meta)

aff_dict = {}
for sample, aff in zip(df_meta['Sample_ID'].tolist(), df_meta['Affected'].tolist()):
    aff_dict[sample] = aff

,Sample_ID,Subject_ID,Family_ID,DOB,Family_Type,Affected,Diagnosis_LAB,Mother_ID,Father_ID,Rel_Proband,...,Date sent for DNA extraction,Location of DNA extraction,DNA Box,Concentration (ng/uL),260/280,Date sent for Sequencing,WGS Provider,(Sample Well) Plate Name.Sample.ID,Affected_orig,Affected_ASD
0,REACH000001,F0001-01,F0001,3/26/2007,trio,Yes,Autism,F0001-02,F0001-03,Proband,...,Unknown,Gleeson,1,60.0,1.80,9/9/2013,Illumina,LP6005688-DNA_E11,Yes,Yes
1,REACH000107,F0001-02,F0001,8/9/1972,trio,Yes,Autism,Unknown,Unknown,Mom,...,Unknown,Gleeson,2,60.0,NaN,9/9/2013,Illumina,LP6005688-DNA_F11,Yes,Yes
2,REACH000226,F0001-03,F0001,9/27/1969,trio,Yes,"Autism, PTSD, ADHD",Unknown,Unknown,Dad,...,Unknown,Gleeson,3,60.0,NaN,9/9/2013,Illumina,LP6005688-DNA_G11,Yes,Yes
3,REACH000002,F0002-01,F0002,11/19/2007,incomplete,Yes,Autism,Unknown,Unknown,Proband,...,Unknown,Gleeson,1,Incomplete,Incomplete,Incomplete family,Incomplete family,Incomplete family,Yes,Yes
4,REACH000003,F0003-01,F0003,8/9/2000,incomplete,Yes,Autism,Unknown,Unknown,Proband,...,Unknown,Gleeson,1,Incomplete,Incomplete,Incomplete family,Incomplete family,Incomplete family,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
888,REACH000889,F0320-02,F0320,1/15/1981,multiple,No,"Crohn's Disease, Lupus (SLE)",F8888-88,F8888-88,Mom,...,2/28/2017,Sebat,11,36.2,1.79,pending,pending,pending,No,No
889,REACH000890,F0320-03,F0320,7/9/1980,multiple,No,NaN,F8888-88,F8888-88,Dad,...,2/28/2017,Sebat,11,41.9,1.84,pending,pending,pending,No,No
890,REACH000891,F0320-04,F0320,2/26/2010,multiple,No,NaN,F0320-02,F0320-03,Sibling,...,2/28/2017,Sebat,11,119.7,1.84,pending,pending,pending,No,No
891,REACH000892,F0320-05,F0320,10/14/2011,multiple,No,NaN,F0320-02,F0320-03,Sibling,...,2/28/2017,Sebat,12,134.1,1.85,pending,pending,pending,No,No
892,REACH000893,F0320-06,F0320,7/8/2013,multiple,Yes,"Cardiac Defects, ASD/VSD",F0320-02,F0320-03,Sibling,...,2/28/2017,Sebat,12,47.7,1.85,pending,pending,pending,Yes,Yes

In [4]:
file_name = 'test.tsv'
df = pd.read_table(file_name, sep='\t', header=0)

/scratch/smmortazavi/job_34631928/ipykernel_1825772/1272275152.py:2: DtypeWarning: Columns (24,25,48,49,50,51,52,53,54,55,59,60,61,62,63,64,65,66,71,72,73,74,75,76,77,81,82,83,84,85,86,87,88,92,93,94,95,96,97,98,99,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,219,225,230,231,237,242,243,248,249,254,255,260,261,266,267,272,273,278,279,284,285) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_table(file_name, sep='\t', header=0)

In [5]:
# filter homopolymers
df_flt = df.loc[df.PERIOD>1]
print(df.shape)
print(df_flt.shape)

# filter trs based on missingness
file_tr_ids = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/TRs_LongTR/FAM/variant_prior/tr_missingness/tr_ids_missingness_25.tsv'
#file_tr_ids = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/TRs_LongTR/FAM/variant_prior/tr_missingness/tr_ids_missingness_20.tsv'
#file_tr_ids = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/TRs_LongTR/FAM/variant_prior/tr_missingness/tr_ids_missingness_15.tsv'
tr_miss_level = file_tr_ids.split('_')[-1].rstrip('.tsv')
print(tr_miss_level)
df_tr_ids = pd.read_table(file_tr_ids)
#df_tr_ids

df_flt = df_flt.loc[df_flt.ID.isin(df_tr_ids.tr_id)]
print(df_flt.shape)

(918557, 362)
(794759, 362)
25
(652348, 362)

In [6]:
#filter_samples = False
filter_samples = True
#file_sam_missing = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/TRs_LongTR/FAM/variant_prior/tr_missingness/samples_missingness_30.tsv'
#file_sam_missing = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/TRs_LongTR/FAM/variant_prior/tr_missingness/samples_missingness_35.tsv'
#file_sam_missing = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/TRs_LongTR/FAM/variant_prior/tr_missingness/samples_missingness_40.tsv'
file_sam_missing = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/TRs_LongTR/FAM/variant_prior/tr_missingness/samples_missingness_50.tsv'

sam_miss_level = file_sam_missing.split('_')[-1].rstrip('.tsv')
print(sam_miss_level)

df_sam_missing = pd.read_table(file_sam_missing, header = 0, sep = "\t", names = ['SAMPLE'])
print(df_sam_missing.shape)

samples_pass_list = df_sam_missing.SAMPLE.tolist()
print(len(samples_pass_list))

50
(209, 1)
209

In [19]:
display(df.loc[(df[f'X_{ft}'] == 1) & ~(df[samples_col].isna())][samples_col].str.split(',', expand=False))

1295      [REACH000544:-0.52|3.24:-37|123:-37|7x123|8, R...
65588              [REACH000409:0.15|-5.72:0|-59:-59|2x0|7]
80852     [REACH000426:-0.09|-8.08:-53|-116:-116|2x-53|5...
117034          [REACH000578:-0.41|-6.08:-6|-54:-54|2x-6|4]
145406    [REACH000555:-3.59|0.66:-180|18:-180|2x18|7, R...
266086    [REACH000411:0.65|3.92:-7|270:-7|5x270|2, REAC...
266091    [REACH000098:0.85|3.58:-25|66:-25|1x66|2, REAC...
277956         [REACH000513:-14.92|-0.88:-87|-7:-87|2x-7|7]
331578             [REACH000435:-8.81|0.20:-64|0:-64|2x0|4]
368633    [REACH000001:0.13|-5.41:0|-52:-52|2x0|13, REAC...
368634          [REACH000524:-5.66|-0.20:-57|-4:-57|2x-4|1]
394080    [REACH000404:-3.28|-0.97:-53|-18:-53|2x-18|2, ...
394247            [REACH000476:0.07|-7.27:0|-62:-62|2x0|14]
491849           [REACH000512:-7.45|0.08:-61|-1:-61|2x-1|7]
506863    [REACH000234:-5.71|0.16:-70|0:-70|7x0|1, REACH...
506885    [REACH000161:0.27|-7.34:0|-75:-75|2x0|2, REACH...
567984          [REACH000409:-3.66|-0.32:-67|-9:-67|2x-9|2]
623821            [REACH000226:0.15|-8.20:0|-63:-63|2x0|22]
680559          [REACH000681:-0.31|-7.41:-7|-56:-56|2x-7|2]
692324    [REACH000001:-5.60|-0.87:-89|-19:-89|3x-19|6, ...
716382    [REACH000419:0.30|-3.16:0|-90:-90|7x0|7, REACH...
716567        [REACH000404:-3.07|-0.38:-74|-13:-74|2x-13|2]
717116       [REACH000107:-0.02|-14.91:-2|-168:-168|2x-2|3]
747460    [REACH000107:-5.08|0.08:-144|0:-144|2x0|6, REA...
816364           [REACH000516:-3.77|0.37:-119|0:-119|2x0|5]
849577          [REACH000604:0.04|-18.84:0|-106:-106|2x0|6]
Name: LZS3_SAMPLES_SUPP2_Q, dtype: object

In [46]:
def expand_lzs(row, col):
    if row[col] == '':
        return '', '', '', '', ''
    samples = [x.split(':')[0] for x in row[col].split(',') if x.split(':')[0] in samples_pass_list]
    case_samples = [aff_dict[x.split(':')[0]] for x in row[col].split(',') if x.split(':')[0] in samples_pass_list]
    zss = [x.split(':')[1] for x in row[col].split(',') if x.split(':')[0] in samples_pass_list]
    gbs = [x.split(':')[2] for x in row[col].split(',') if x.split(':')[0] in samples_pass_list]
    supps = [x.split(':')[3] for x in row[col].split(',') if x.split(':')[0] in samples_pass_list]
    return ','.join(samples), ','.join(case_samples), ','.join(zss), ','.join(gbs), ','.join(supps)

In [8]:
### make tables of variants in the burden tests
sub_dir = 'burden_tables/'

zs_thr = 3
supp_thr = 2
#fts = ['FDR_ASD_cds', 'PLIp9_DEV_BR_GENE_10_cds', 'DEV_BR_GENE_10_cds', 'PLIp9_cds', 'LOWPLI_cds', 'PLIp9_utr']
fts = ['PLIp9_DEV_BR_GENE_10_cds', 'PLIp9_DEV_BR_GENE_10_utr', 'PLIp9_DEV_BR_GENE_10_intron', 
       'DEV_BR_GENE_10_cds', 'DEV_BR_GENE_10_utr', 'DEV_BR_GENE_10_intron', 
       'PLIp9_cds', 'PLIp9_utr', 'PLIp9_intron', 
       'LOWPLI_cds', 'LOWPLI_utr', 'LOWPLI_intron', 'intergenic', 'genic', 'genic_cds', 'genic_utr', 'genic_intron']

cols = ['CHROM', 'POS', 'END', 'ID', 'GENCODE', 'PERIOD', 'MEAN_GB', 'STD_GB', 'SN_GB', 'SYMBOL', 'Consequence',
        'GENES_PLI', 'MAX_PLI', 'MAX_PLI_GENE', 
        'GENES_LOEUF', 'MIN_LOEUF', 'MIN_LOEUF_GENE', 
        'SIG_FDR_ASD_GENES', 'SIG_FDR_DD_GENES', 'SIG_FDR_NDD_GENES', 
        f'LZS{zs_thr}_SAMPLES_SUPP{supp_thr}_Q', f'case_LZS{zs_thr}_SAMPLES_SUPP{supp_thr}_Q']
#REACH000544:-0.52|3.24:-37|123:-37|7x123|8
col_exp = f'LZS{zs_thr}_SAMPLES_SUPP{supp_thr}_Q'
new_cols = ['Samples_pass', 'case_status', 'Z-scores', 'base_pair_deviation', 'read_supp']

samples_col = f'LZS{zs_thr}_SAMPLES_SUPP{supp_thr}_Q'
for ft in fts:
    print(ft)
    this_df = df_flt.loc[(df_flt[f'X_{ft}'] == 1) & ~(df_flt[samples_col].isna())][cols]
    this_df[new_cols] = this_df.apply(lambda row: expand_lzs(row, col_exp), axis=1, result_type='expand')
    # remove the calls with no acceptable sample
    this_df = this_df.loc[this_df['Samples_pass'] != '']
    file_name = dir_tbl + sub_dir + f'table_{ft}_LZS{zs_thr}_SUPP{supp_thr}_filterSamples{sam_miss_level}_TRmissing{tr_miss_level}.tsv'
    this_df.to_csv(file_name, sep='\t', header=True, index=False)

PLIp9_DEV_BR_GENE_10_cds
PLIp9_DEV_BR_GENE_10_utr
PLIp9_DEV_BR_GENE_10_intron
DEV_BR_GENE_10_cds
DEV_BR_GENE_10_utr
DEV_BR_GENE_10_intron
PLIp9_cds
PLIp9_utr
PLIp9_intron
LOWPLI_cds
LOWPLI_utr
LOWPLI_intron
intergenic
genic
genic_cds
genic_utr
genic_intron

In [9]:
file_cov = '/expanse/projects/sebat1/s3/data/sebat/long_reads_pipeline_results/coverages_mod.tsv'
#file_cov = '/tscc/projects/ps-sebat1/s3/data/sebat/long_reads_pipeline_results/coverages_mod.tsv'
df_cov = pd.read_table(file_cov, header=0, sep='\t')
multiplat_samples = ['REACH000236', 'REACH000530', 'REACH000531', 'REACH000532', 'REACH000436']
df_cov['SAMPLE'] = df_cov.apply(lambda row: row['SAMPLE']+'_'+row['COHORT'] if row['SAMPLE'] in multiplat_samples else row['SAMPLE'], axis=1)
df_cov_high = df_cov.loc[df_cov.SAMPLE.str.startswith('REACH000') & (df_cov.MEAN_COVERAGE > 9)]
display(df_cov)
high_cov_samples = df_cov_high.SAMPLE.tolist()
#print(high_cov_samples)

def get_plat(sample):
    try:
        ret = df_cov[df_cov.SAMPLE == sample]['COHORT'].values[0]
    except:
        print(f'problem with samples: {sample}')
        ret = ''
    return ret

plat_dict = {sample: get_plat(sample) for sample in df_cov.SAMPLE.tolist()}

          SAMPLE COHORT  MEAN_COVERAGE
0          HG004    ONT          81.44
1    REACH000626    ONT          10.51
2    REACH000546    ONT          10.87
3    REACH000683    ONT           9.97
4    REACH000563    ONT           8.68
..           ...    ...            ...
283  REACH000284     PB           3.43
284  REACH000672     PB           5.02
285  REACH000292     PB           9.00
286  REACH000066     PB           1.61
287     2602-2-1     PB           0.89

[288 rows x 3 columns]

In [10]:
file_psam = '/expanse/projects/sebat1/miladm/UCSD/LONG_READ_COHORT/process_IL_LR/HWE/REACH_LR_platform.psam'
df_p = pd.read_table(file_psam, sep='\t', header=None, names = ['famid', 'sample_id', 'dad', 'mom', 'sex', 'phen'])
display(df_p)

famid_samples_dict = {}
for famid in df_p.famid.unique():
    famid_samples_dict[famid] = df_p.loc[df_p.famid==famid]['sample_id'].tolist()

sample_famid_dict = {}
for sam, famid in zip(df_p.sample_id, df_p.famid):
    sample_famid_dict[sam] = famid

print('complete trios:')
df_trios = df_p.loc[df_p.dad.isin(df_p.sample_id) & df_p.mom.isin(df_p.sample_id)]
display(df_trios)
print(df_trios.sex.value_counts())
print(df_trios.phen.value_counts())

# make mom and dad dictionary
sample_dad_dict = {}
sample_mom_dict = {}
for sample, dad, mom in zip(df_trios.sample_id, df_trios.dad, df_trios.mom):
    #print(sample, dad, mom)
    sample_dad_dict[sample] = dad
    sample_mom_dict[sample] = mom

parents_set_lr = set(df_trios.dad.tolist()) | set(df_trios.mom.tolist())
#print(f'len(parents_set_lr): {len(parents_set_lr)}')
#print(parents_set_lr)

parents_set_pb = set([x for x in parents_set_lr if plat_dict[x]=='PB'])
parents_set_ont = set([x for x in parents_set_lr if plat_dict[x]=='ONT'])
#print('len(parents_set_pb):', len(parents_set_pb))
#print('len(parents_set_ont):', len(parents_set_ont))

parent_kids_dict = {}
mom_kids_dict = {}
dad_kids_dict = {}
for parent in parents_set_lr:
    parent_kids_dict[parent] = df_trios.loc[(df_trios.dad == parent) | (df_trios.mom == parent)].sample_id.tolist()
    if parent in df_trios.dad.tolist():
        dad_kids_dict[parent] = df_trios.loc[(df_trios.dad == parent)].sample_id.tolist()
    if parent in df_trios.mom.tolist():
        mom_kids_dict[parent] = df_trios.loc[(df_trios.mom == parent)].sample_id.tolist()
print(f'len(parent_kids_dict): {len(parent_kids_dict)}')
#print(parent_kids_dict)
print(f'len(mom_kids_dict): {len(mom_kids_dict)}')
#print(mom_kids_dict)
print(f'len(dad_kids_dict): {len(dad_kids_dict)}')
#print(dad_kids_dict)

mate_dict = {}
for dad, mom in zip(df_trios.dad, df_trios.mom):
    mate_dict[dad] = mom
    mate_dict[mom] = dad
print(f'len(mate_dict): {len(mate_dict)}')
#print(mate_dict)

     famid    sample_id          dad          mom  sex  phen
0     2323     2323-2-1            0            0    2     2
1     2602     2602-2-1            0            0    2     2
2     3392     3392-2-3            0            0    2     2
3     3538     3538-2-1            0            0    2     2
4     3939     3939-3-1            0            0    2     2
..     ...          ...          ...          ...  ...   ...
275  F0270  REACH000681  REACH000683  REACH000682    1     2
276  F0270  REACH000682            0            0    2     2
277  F0270  REACH000683            0            0    1     2
278  F0270  REACH000684  REACH000683  REACH000682    1     2
279  F0270  REACH000685  REACH000683  REACH000682    1     1

[280 rows x 6 columns]

complete trios:

     famid    sample_id          dad          mom  sex  phen
10   F0026  REACH000026  REACH000270  REACH000269    1     2
11   F0058  REACH000058  REACH000440  REACH000439    1     2
12   F0065  REACH000065  REACH000067  REACH000066    1     2
15   F0078  REACH000086  REACH000088  REACH000087    1     2
18   F0078  REACH000089  REACH000088  REACH000087    2     2
..     ...          ...          ...          ...  ...   ...
271  F0266  REACH000660  REACH000662  REACH000661    2     2
274  F0266  REACH000663  REACH000662  REACH000661    1     1
275  F0270  REACH000681  REACH000683  REACH000682    1     2
278  F0270  REACH000684  REACH000683  REACH000682    1     2
279  F0270  REACH000685  REACH000683  REACH000682    1     1

[117 rows x 6 columns]

sex
1    74
2    43
Name: count, dtype: int64
phen
2    92
1    25
Name: count, dtype: int64
len(parent_kids_dict): 126
len(mom_kids_dict): 63
len(dad_kids_dict): 63
len(mate_dict): 126

In [13]:
def is_close(kid_gt, par_gts, err_thr=0.2):
    err_min = np.min([abs((kid_gt-par_gt) / (par_gt+.001)) for par_gt in par_gts])
    if err_min <= err_thr:
        return True
    return False
    
def get_denovo(row, col, sample_mom_dict, sample_dad_dict, gt_thr=0, len_thr=0, supp_thr=1):
    q_samples = [x.split(':')[0] for x in row['Q90_SAMPLES_GB'].split(',') if x != '.']
    hp1_samples = [x.split(':')[0] for x in row['HP1_SAMPLES_PDP'].split(',') if x != '.']
    hp2_samples = [x.split(':')[0] for x in row['HP2_SAMPLES_PDP'].split(',') if x != '.']
    #hem_samples = [x.split(':')[0] for x in row['HEM_SAMPLES_DP'].split(',') if x != '.']

    kids = [x.split(':')[0] for x in row[col].split(',') if x.split(':')[0] in sample_mom_dict]
    
    moms = [x.split(':')[0] for x in row[col].split(',') if x.split(':')[0] in mom_kids_dict]
    dads = [x.split(':')[0] for x in row[col].split(',') if x.split(':')[0] in dad_kids_dict]
    mom_mates = [mate_dict[x] for x in moms]
    dad_mates = [mate_dict[x] for x in dads]
    mom_kids = [mom_kids_dict[x] for x in moms]
    dad_kids = [dad_kids_dict[x] for x in dads]


    sample_gt_dict = {x.split(':')[0]: (float(x.split(':')[1].split('|')[0]), float(x.split(':')[1].split('|')[1])) 
                      if ((x != '.') and (len(x.split(':')[1].split('|'))==2)) 
                      else ((float(x.split(':')[1].split('|')[0]),) if ((x != '.') and (len(x.split(':')[1].split('|'))==1)) else '.')
                      for x in row[col].split(',')}
    sample_len_dict = {x.split(':')[0]: (int(x.split(':')[2].split('|')[0]), int(x.split(':')[2].split('|')[1])) 
                      if ((x != '.') and (len(x.split(':')[2].split('|'))==2)) 
                      else ((int(x.split(':')[2].split('|')[0]),) if ((x != '.') and (len(x.split(':')[2].split('|'))==1)) else '.')
                      for x in row[col].split(',')}

    sample_supp_dict = {x.split(':')[0]: {int(x.split(':')[-1].split('x')[0].split('|')[0]): int(x.split(':')[-1].split('x')[0].split('|')[1]), 
                                           int(x.split(':')[-1].split('x')[1].split('|')[0]): int(x.split(':')[-1].split('x')[1].split('|')[1])} 
                        if ((x != '.') and (len(x.split(':')[-1].split('x'))==2)) 
                        else ({int(x.split(':')[-1].split('x')[0].split('|')[0]): int(x.split(':')[-1].split('x')[0].split('|')[1])} 
                              if ((x != '.') and (len(x.split(':')[-1].split('x'))==1)) else '.') for x in row[col].split(',')}
    sample_info_dict = {x.split(':')[0]: x for x in row[col].split(',')}

    dn_kids = []
    dn_kids_case = []
    dn_dads = []
    dn_moms = []
    dn_plat = []
    for kid in kids:
        kid_gts = sample_gt_dict[kid]
        kid_lens = sample_len_dict[kid]
        kid_supp = sample_supp_dict[kid]
        gt_good = False
        for gt, l in zip(kid_gts, kid_lens):
            supp = kid_supp[l]
            if (abs(gt) >= gt_thr) and (supp >= supp_thr) and (abs(l) >= len_thr):
                gt_good = True
        if (not gt_good):
            continue

        dad = sample_dad_dict[kid]
        mom = sample_mom_dict[kid]

        # make sure mom and dad have at least one read in each phase
        if (mom not in hp1_samples) or (mom not in hp2_samples) or (dad not in hp1_samples) or (dad not in hp2_samples):
            continue

        dad_gts = None
        if dad in sample_gt_dict:
            dad_gts = sample_gt_dict[dad]
        mom_gts = None
        if mom in sample_gt_dict:
            mom_gts = sample_gt_dict[mom]

        is_denovo = False
        for gt, l in zip(kid_gts, kid_lens):
            supp = kid_supp[l]
            if (abs(gt) >= gt_thr) and (supp >= supp_thr) and (abs(l) >= len_thr):
                if (dad_gts==None or (not is_close(gt, dad_gts))) and (mom_gts==None or (not is_close(gt, mom_gts))):
                    is_denovo = True
        if is_denovo:
            dn_kids.append(sample_info_dict[kid])
            dn_kids_case.append(aff_dict[kid])
            dn_dads.append(sample_info_dict[dad] if dad in sample_info_dict else dad)
            dn_moms.append(sample_info_dict[mom] if mom in sample_info_dict else mom)
            dn_plat.append(plat_dict[kid])

    return ','.join(dn_kids), ','.join(dn_kids_case), ','.join(dn_dads), ','.join(dn_moms), ','.join(dn_plat)

In [49]:
### make talbe of putatively De novo TRs
sub_dir = 'denovos/'

zs_thr = 3
len_thr = 50
supp_thr = 3
col = 'ZS_SAMPLES'
df_flt_dn = pd.DataFrame(df_flt)
cols_dn = [f'denovo_ZS{zs_thr}_len{len_thr}_supp{supp_thr}',
           f'case_denovo',
           f'denovoDADs_ZS{zs_thr}_len{len_thr}_supp{supp_thr}', 
           f'denovoMOMs_ZS{zs_thr}_len{len_thr}_supp{supp_thr}', 
           f'denovoPLAT_ZS{zs_thr}_len{len_thr}_supp{supp_thr}']
df_flt_dn[cols_dn] = df_flt.apply(
    lambda row: get_denovo(row, col, sample_mom_dict, sample_dad_dict,
                           gt_thr=zs_thr, len_thr=len_thr, supp_thr=supp_thr), 
    axis=1, result_type='expand')

# mark varinats which has a PB sample
df_flt_dn['denovoPLAT_PB']  = df_flt_dn.apply(lambda row: 1 if 'PB' in row[f'denovoPLAT_ZS{zs_thr}_len{len_thr}_supp{supp_thr}'] else 0, axis=1)

# write putatively denovo TRs
this_df = df_flt_dn.loc[ (df_flt_dn[f'denovo_ZS{zs_thr}_len{len_thr}_supp{supp_thr}'] != '') ].copy()

# extend the sample column
col_exp = f'LZS{zs_thr}_SAMPLES_SUPP{supp_thr}_Q'
new_cols = ['Samples', 'case_status', 'Z-scores', 'base_pair_deviation', 'read_supp']
this_df[col_exp] = this_df[col_exp].fillna('')
this_df[new_cols] = this_df.apply(lambda row: expand_lzs(row, col_exp), axis=1, result_type='expand')

cols = ['CHROM', 'POS', 'END', 'ID', 'GENCODE', 'PERIOD', 'MEAN_GB', 'STD_GB', 'SN_GB', 'SYMBOL', 'Consequence',
        'GENES_PLI', 'MAX_PLI', 'MAX_PLI_GENE', 
        'GENES_LOEUF', 'MIN_LOEUF', 'MIN_LOEUF_GENE', 
        'SIG_FDR_ASD_GENES', 'SIG_FDR_DD_GENES', 'SIG_FDR_NDD_GENES',
        f'LZS{zs_thr}_SAMPLES_SUPP{supp_thr}_Q', f'case_LZS{zs_thr}_SAMPLES_SUPP{supp_thr}_Q'] + new_cols + cols_dn + ['denovoPLAT_PB']

file_name = dir_tbl + sub_dir + f'table_denovo_LZS{zs_thr}_SUPP{supp_thr}_len{len_thr}_TRmissing{tr_miss_level}.tsv'
print(file_name)
this_df[cols].to_csv(file_name, sep='\t', header=True, index=False)

data_tables/denovos/table_denovo_LZS3_SUPP3_len50_TRmissing25.tsv